*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    color: black;
    font-family: "poppins",sans-serif;
    position: relative;
}
nav{
    width: 100%;
    height: 70px;
    background-color:transparent;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}
.links li a{
    text-decoration: none;
    color:black;
}
nav .elem ul {
    list-style: none; 
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
 nav .elem{
    backdrop-filter: blur(0.65px);
    background-color: rgba(177, 171, 171, 0.247) ;
    padding:9px 15px;
    border-radius: 25px;
    border: 1px solid rgba(153, 148, 148, 0.397);
    box-shadow: 0 5px 14px rgb(44, 43, 43);
}
nav .butns {
    padding: 5px 15px ;
    backdrop-filter: blur(0.65px);
    background-color:  rgba(177, 171, 171, 0.148) ;
    border-radius: 25px;
    margin-right: 70px;
    border: 1px solid  rgba(153, 148, 148, 0.397);
    box-shadow: 0 5px 9px rgb(44, 43, 43);

    
}
nav .elem ul li{
    font-weight: lighter;
    font-size: 15px;
    color: black;
    transform: all;
}
nav .elem ul li:hover{
    background-color: rgba(255, 255, 255, 0.406) ;
    padding: 5px 12px;
    border-radius: 25px;
    color: white;
}
nav .elem ul li:hover::before{
    backdrop-filter: blur(1.5px);
}
nav .butns:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}
nav .logo{
    font-weight: 600;
    font-size: 50px;
    text-shadow:10px 8px 3.9px rgba(157, 154, 154, 0.176);
    margin-left: 75px;
}
.main-img{
    height: 100vh;                      /* REQUIRED */
    width: 100%;
    background-image: url("img/front img3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.whole{
    margin-top: 50px;
    background-color: whitesmoke;
}
.cont1,.cont3{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
    align-items: center;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    
}
#img-src1,#img-src2,#img-src3{
    height: 330px;
    width: 420px;
    border-radius: 25px;
}
#para1,#para2,#para3{
    font-weight: 700;
    font-size: medium;
}
.head{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cont2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
    padding-top: 50px;
    align-items: center;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}
.p1,.p2,.p3{
    flex: 1;
    min-width: 300px;
}
.item1,.item2,.item3{
    justify-content: center;
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.line{
    margin-bottom: 70px;
}
.p1,.p2,.p3{
    animation: head both;
    animation-timeline: view();
    animation-range: entry 60% cover 80%;
    
}
.item1,.item2,.item3{
    animation: ani1 both;
    animation-timeline: view();
    animation-range: entry 97% cover 100vh;
}
.head{
    animation: head both;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
}
@keyframes head{
    from{
        opacity: 0;
        transform: translateY(100px) ;
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}
@keyframes ani1{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1.1);
    }

}
.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 29%;
}
.footer2 ul #li1{
    padding: 20px;
    list-style: none;
    font-size: medium;
    font-size: 20px;
}
#li2{
    font-weight: 60;
    font-size:medium;
    padding-bottom: 30px;
    list-style: none;
}
#li3{
    list-style: none;
}


